<template>
  <div class="titulo">
  <h1 >FRONT MATIAS</h1>
  <p>Listamos datos de un API</p>
</div>
<table class="tabla">
  <thead class="tabla_titulos">
    <tr >
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody class="tabla__datos">
    <tr v-for="todo in todos" :key="todo.id" class="tabla__datos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>
      <td>{{todo.completed }}</td>
    </tr>
  </tbody>
</table>

</template>

<script>
import axios from 'axios';

export default {

data() {
  return {
    todos: [],
    
  };
 
},
async created() {
  try {
    const response = await axios.get('https://jsonplaceholder.typicode.com/todos');
    this.todos = response.data;
  } catch (error) {
    console.error(error);
  }
}
};
</script>
 
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
  .titulo{
    margin-top: 0%;
    text-align: center;
    font-weight: bold
  }

.tabla {
  
  width: 100%;
  
  
}
.tabla_titulos {
  background-color: #ffe4e1 
 
}
.tabla__datos td{
  color: black;
  text-align: center;
  border: solid 1px black;

}
.tabla__datos td:hover{
  background-color: #b2e2f2;
  cursor: pointer
}
  </style>