<template>
 <div id="app">
  <router-link to="/MatiasFernandez"> <button>Mostrar Datos</button> </router-link>
  <RouterView></RouterView>
 </div>
</template>

<script>



export default {
  name: 'App',

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  background-color:#ffe4e1 ;
  margin: 0%
}
</style>
