<template>
    <MatiasVue/>
  </template>
  
  <script setup>
  import MatiasVue from './components/MatiasVue.vue';
 
  </script>
   
    
    <!-- Add "scoped" attribute to limit CSS to this component only -->
    <style scoped>
        

    </style>